.bg{
    background: {
        image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url("./istockphoto-1334875361-612x612.jpg");
        position: center;
        size:cover;
    };
   
    height: 100vh;
}
