.bg_light {
    overflow: hidden;
    transition:  0.5s; 
    transform: translateY(0); 
    opacity: 0;
  }
 
  .col_md_4:hover .bg_light {
    transform: translateY(-100%); 
    opacity: 0.7;
   
  }
  